* {
    margin: 0; 
    padding: 0; 
    text-decoration: none;
    flex-direction: column;
}

#header {
    display: flex; 
}


#fox {
    width: 60%;  
    margin-left: -56px; 
}

#name {
    font-family: 'Lora', serif;
    font-weight: bolder;
    font-size:35px;
    margin: -133px -59px -17px 85px; 
}

#menu {
    border: 20px solid white; 
    margin: 87px 0px 9px 0px;
}

#menu ul {
    list-style-type: none;
    background-color: black;
    font-family: 'Lora', serif;
    font-size: 16px;
}

#menu li a {
    color: white; 
    padding: 0px 10px; 
    text-decoration: none;
}

#intro {
    display: flex; 
    background-color: black;
    color: white; 
    font-family: 'Lora', serif;
    border: 20px solid white; 
    margin: -28px 0px 10px 0px; 
}

#intro img {
    display: none;
}

#about {
    text-align: center;
    font-weight: lighter;
}

#about h2 {
    margin-bottom: 12px;
    margin-top: -273px; 
    font-size: 23px;
}

#about p {
    font-size: 14px;
}

#projects {
    display: flex; 
    flex-flow: column wrap;
    align-items: baseline;
    background-color: black;
    border: 20px solid white;
    font-family: 'Lora', serif;
    color: white; 
}


#projects h1 {
    font-size: 24px;
    border: none; 
    margin: -40px 0px -20px 45px; 
}

#new-project {
    
}

#new-project h2, h3 {
    font-size: 16px; 
}

#new-project img{
    height: 400px;
    width: 350px;
}

.ind { 
    color: white; 
    margin-top: -32px; 
}

.ind h2, h3{
    font-size: 16px;
}

.ind img {
    height: 200px;
    width: 350px;  
    margin: 0px 0px 0px -18px; 
}

#footer {
    display: flex; 
}


#footer div {
    font-size: 20px;
    text-align: center;
    
}

#footer .icon{
    height: 50px; 
    width: 50px; 
    margin: 10px; 
}





