* {
    margin: 0; 
    padding: 0; 
    text-decoration: none;
}

#header {
    display: flex; 
}


#fox {
    object-position: left top; 
    height: 200px;
    width: 200px; 

}

#name {
    font-family: 'Lora', serif;
    font-weight: bolder;
    margin-top: 75px;
    margin-left: -65px; 
    font-size: 40px;
}

#menu {
    border: 20px solid white; 
}

#menu ul {
    list-style-type: none;
    margin: 0; 
    padding: 10px; 
    overflow: hidden;
    background-color: black;
    font-family: 'Lora', serif;
    font-size: 24px;
}

#menu li {
    float: right; 
}

#menu li a {
    display: block;
    color: white; 
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
}

#menu li a:hover {
    background-color: darkslategrey;
}

#intro {
    display: flex; 
    background-color: black;
    color: white; 
    font-family: 'Lora', serif;
    border: 20px solid white; 
}

#intro img {
    height: 750px; 
    width: 800px;  

}

#about {
    text-align: center;
    margin: 20px; 
    margin-top: 300px;
    font-weight: lighter;
}

#about h2 {
    margin-bottom: 50px;
    font-size: 40px;
}

#about p {
    margin-right: 25px;
    margin-left: 25px;
    font-size: 16px;
    line-height: 2;
}

#projects {
    padding: 10px;
    display: flex; 
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    justify-content: center;
    background-color: black;
    border: 20px solid white;
    font-family: 'Lora', serif;
    color: white; 
    padding-bottom: 43px;
}


#projects h1 {
    font-size: 40px;
    margin: 0 20% 0 7%;  
    border: 33px solid white; 
    padding: 50px; 

}

#new-project {
    object-position: top right; 

}

#new-project img{
    height: 800px;
    width: 600px;
}

.ind { 
    padding: 20px; 
    color: white; 
}

.ind img {
    height: 300px;
    width: 800px;  
    flex: 50%; 
}

#footer {
    display: flex; 
    margin-bottom: 40px;
}


#footer div {
    font-size: 30px;
    margin:  0 auto;
    text-align: center;
    
}

#footer .icon{
    height: 50px; 
    width: 50px; 
    margin: 10px; 
}

#footer #email{
    padding: 20px;
}

#footer .bolder {
    font-weight: bolder;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
  
    #fox {
        width: 60%;  
        margin-left: -56px; 
    }
    
    #name {
        font-family: 'Lora', serif;
        font-weight: bolder;
        font-size:35px;
    }
    
    #menu {
        border: 20px solid white; 
        margin: 0px -4px 9px 0px;
    }
    
    #menu ul {
        list-style-type: none;
        background-color: black;
        font-family: 'Lora', serif;
        font-size: 16px;
    }
    
    #menu li a {
        color: white; 
        padding: 0px 10px; 
        text-decoration: none;
    }
    
    #intro {
        display: flex; 
        flex-direction: column;
        background-color: black;
        color: white; 
        font-family: 'Lora', serif;
        border: 20px solid white; 
        margin: -28px 0px 10px 0px; 
    }
    
    #intro img {
        background: url("./images/b&w\(2\)small.jpg");
        width: 200px; 
        height: 200px; 
        margin: -16px 0px 15px 86px; 
    }
    
    #about {
        text-align: center;
        font-weight: lighter;
    }
    
    #about h2 {
        margin-bottom: 12px;
        margin-top: -273px; 
        font-size: 23px;
    }
    
    #about p {
        font-size: 14px;
    }
    
    #projects {
        display: flex; 
        flex-flow: column wrap;
        align-items: baseline;
        background-color: black;
        border: 20px solid white;
        font-family: 'Lora', serif;
        color: white; 
    }
    
    
    #projects h1 {
        font-size: 24px;
        border: none; 
        margin: -40px 0px -20px 45px; 
    }
    
    #new-project h2, h3 {
        font-size: 16px; 
    }
    
    #new-project img{
        height: 400px;
        width: 350px;
    }
    
    .ind { 
        color: white; 
        margin-top: -23px; 
    }
    
    .ind h2, h3{
        font-size: 16px;
    }
    
    .ind img {
        height: 200px;
        width: 350px;  
        margin: 0px 0px 0px -18px; 
    }
    
    #footer {
        display: flex; 
    }
    
    
    #footer div {
        font-size: 20px;
        text-align: center;
        
    }
    
    #footer .icon{
        height: 50px; 
        width: 50px; 
        margin: 10px; 
    }
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
  
    #fox {
        display: none; 
    }
    
    #name {
        display: none; 
    }
    
    #menu {
        border: 20px solid white; 
        margin: -15px 20px 8px 11px;
    }
    
    #menu ul {
        list-style-type: none;
        background-color: black;
        font-family: 'Lora', serif;
        font-size: 16px;
    }
    
    #menu li a {
        color: white; 
        padding: 0px 10px; 
        text-decoration: none;
    }
    
    #intro {
        display: flex; 
        background-color: black;
        color: white; 
        font-family: 'Lora', serif;
        border: 20px solid white; 
        margin: -26px 20px 10px 11px; 
    }
    
    #intro img {
        background: url("./images/b&w\(2\)small.jpg");
        width: 230px; 
        height: 233px; 
        margin: 63px 67px 15px 86px; 
    }
    
    #about {
        text-align: center;
        font-weight: lighter;
    }
    
    #about h2 {
        margin-bottom: 12px;
        margin-top: -273px; 
        font-size: 23px;
    }
    
    #about p {
        font-size: 14px;
    }
    
    #projects {
        display: flex; 
        flex-flow: column wrap;
        align-items: baseline;
        background-color: black;
        border: 20px solid white;
        font-family: 'Lora', serif;
        color: white; 
        margin: -26px 20px 10px 11px; 
    }
    
    
    #projects h1 {
        font-size: 24px;
        border: none; 
        margin: -40px 0px -20px 45px; 
    }
    
    #new-project h2, h3 {
        font-size: 16px; 
    }
    
    #new-project img{
        height: 400px;
        width: 350px;
    }
    
    .ind { 
        color: white; 
        margin-top: -23px; 
    }
    
    .ind h2, h3{
        font-size: 16px;
    }
    
    .ind img {
        height: 200px;
        width: 350px;  
        margin: 0px 0px 0px -18px; 
    }
    
    #footer {
        display: flex; 
    }
    
    
    #footer div {
        font-size: 20px;
        text-align: center;
        
    }
    
    #footer .icon{
        height: 50px; 
        width: 50px; 
        margin: 10px; 
    }
    
}