* {
    margin: 0; 
    padding: 0; 
    text-decoration: none;
}

.header {
    display: flex; 
}


.fox {
    object-position: left top; 
    height: 200px;
    width: 200px; 

}

.menu {
    border: 20px solid white; 
}

.menu ul {
    list-style-type: none;
    margin: 0; 
    padding: 10px; 
    overflow: hidden;
    background-color: black;
    font-family: 'Lora', serif;
    font-size: 24px;
}

.menu li {
    float: right; 
}

.menu li a {
    display: block;
    color: white; 
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
}

.menu li a:hover {
    background-color: darkslategrey;
}



.name {
    font-family: 'Lora', serif;
    font-weight: bolder;
    margin-top: 75px;
    margin-left: -65px; 
    font-size: 40px;
}

.intro {
    display: flex; 
    background-color: black;
    color: white; 
    font-family: 'Lora', serif;
    border: 20px solid white; 
}

.intro img {
    height: 750px; 
    width: 800px;  

}

.about {
    text-align: center;
    margin: 20px; 
    margin-top: 300px;
    font-weight: lighter;
}

.about h2 {
    margin-bottom: 50px;
    font-size: 40px;
}

.about p {
    margin-right: 25px;
    margin-left: 25px;
    font-size: 16px;
    line-height: 2;
}

#projects {
    padding: 10px;
    display: flex; 
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    justify-content: center;
    background-color: black;
    border: 20px solid white;
    font-family: 'Lora', serif;
    color: white; 
    padding-bottom: 43px;
}


#projects h1 {
    font-size: 40px;
    margin: 0px 106px 0px 46px; 
    border: 33px solid white; 
    padding: 24px; 

}

.new-project {
    margin: 42px -82px 18px 307px; 

}

.new-project img{
    height: 800px;
    width: 600px;
}

.ind { 
    padding: 20px; 
    color: white; 
}

.ind img {
    height: 300px;
    width: 800px;  
    flex: 50%; 
}

#footer {
    display: flex; 
    margin-bottom: 40px;
}


#footer div {
    font-size: 30px;
    margin:  0 auto;
    text-align: center;
    
}

#footer .icon{
    height: 50px; 
    width: 50px; 
    margin: 10px; 
}

#footer .email{
    padding: 20px;
}

#footer .bolder {
    font-weight: bolder;
    padding: 10px;
}

@media screen and (max-width: 320px) {
    flex-direction: column;
}